name: build

on:
  push:
    branches:
      - main
  workflow_dispatch:
defaults:
  run:
    working-directory: stream_chat_v1

jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
    - uses: rokroskar/workflow-run-cleanup-action@master
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  build_and_deploy_android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: technote-space/auto-cancel-redundant-workflow@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: 'stable'
      - run: |
          flutter pub get
      - name: Build
        run: |
          flutter build apk
      - name: upload apk
        uses: actions/upload-artifact@v2
        with:
          name: android-stream-chat-v1
          path: stream_chat_v1/build/app/outputs/apk/release/app-release.apk